<!DOCTYPE html>
<html>

<head>

<title>TruthGuard AI</title>

<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">

</head>

<body class="dark">

<div class="chat-container">

<h1> TruthGuard AI</h1>

<p>Detector Inteligente de Noticias Falsas</p>

<form action="/predict" method="POST">

<textarea name="news" placeholder="Cole a notícia aqui..." required></textarea>

<button type="submit">Analisar</button>

</form>

</div>

</body>

</html>